<h1 class="text-center"> About us</h1>
<p class="text-center"> Hi, we are trying to make it easier for you to do business...</p>
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Dropdown
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="#">Come</a></li>
    <li><a href="#">back</a></li>
    <li><a href="#">site under</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">repair</a></li>
  </ul>
</div>