<div class="jumbotron">
<h1>Our team</h1>
<p>Introducing the asicPin team. They are dedicated to making it easier to do business and will die for the cause!</p>
<p>The team coach - Daniel Sen</p>
<p>The team captain - Joshua Close</p>
<p>The team player - Klay Butler</p>
</div>
<div class="jumbotron">
	<h1>Seno</h1>
	<p>Born 1980</p>
	<p>Hight 1.87 cms</p>
		<div class="panel panel-primary">
  			<div class="panel-heading">
    		<h3 class="panel-title">Profile</h3>
  		</div>
  		<div class="panel-body">
    		Daniel likes long walks on the beach and sipping on red wine in Civic Park by the fountain in majestic Warragul. 
  		</div>
  		</div>
<!-- 4:3 aspect ratio -->
	<div class="embed-responsive embed-responsive-4by3">
  		<iframe class="embed-responsive-item" src="http://www.youtube.com/embed/AotPMSYfHV0"></iframe>
	</div>
</div>